<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <script>
        location.href = "module/index.html";
    </script>
<script type="text/javascript" src="../static/js/manifest.b7788f5c931d4b9a7e05.js?3bb715e9bd02813870c7"></script><script type="text/javascript" src="../static/js/vendor.5b2a2d678cdb2fc11895.js?3bb715e9bd02813870c7"></script><script type="text/javascript" src="../static/js/index.78ce4b39dee785a754ef.js?3bb715e9bd02813870c7"></script></body>
</html>